<a href="https://colab.research.google.com/github/pappg13/AppleTwitterSentiment/blob/main/Team_Twitter_Presentation_Rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [2]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.6/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.10)

In [3]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyser = SentimentIntensityAnalyzer()

In [4]:
def print_sentiment_scores(sentence):
    snt = analyser.polarity_scores(sentence)
    print("{:-<40} {}".format(sentence, str(snt)))

In [5]:
#This code does the categorisation. The compound score is the one that we need.
print_sentiment_scores("The class was AWESOME today!!!!!!!")

The class was AWESOME today!!!!!!!------ {'neg': 0.0, 'neu': 0.4, 'pos': 0.6, 'compound': 0.7906}

In [6]:
'''from google.colab import drive
drive.mount('/content/drive')'''

"from google.colab import drive\ndrive.mount('/content/drive')"

In [7]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('Team Twitter - Presentation Sentiment').sheet1

In [8]:
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

[['Feedback', 'Neg', 'Pos', 'Neu', 'Sentiment Score', '', '', '', ''], ['The prezi was cool', '', '', '', '0', '', '', 'Average Sentiment Score:', '0'], ['Good job guys!!', '', '', '', '', '', '', '', ''], ['WTF was this?', '', '', '', '', '', '', '', ''], ['I loved the examples', '', '', '', '', '', '', '', ''], ['How coll that was??', '', '', '', '', '', '', '', '']]

In [9]:
# Convert to a DataFrame and render.
import pandas as pd
table=pd.DataFrame.from_records(rows)
table.head()

                      0    1    2    3  ... 5 6                         7  8
0              Feedback  Neg  Pos  Neu  ...
1    The prezi was cool                 ...      Average Sentiment Score:  0
2       Good job guys!!                 ...
3         WTF was this?                 ...
4  I loved the examples                 ...

[5 rows x 9 columns]

In [10]:
new_header = table.iloc[0] #grab the first row for the header
table = table[1:] #take the data less the header row
table.columns = new_header #set the header row as the df header

In [11]:
table.head()

0              Feedback Neg Pos Neu  ...
1    The prezi was cool              ...      Average Sentiment Score:  0
2       Good job guys!!              ...
3         WTF was this?              ...
4  I loved the examples              ...
5   How coll that was??              ...

[5 rows x 9 columns]

In [12]:
list_of_feedback = table['Feedback'].to_list()

In [13]:
scores = []
for texts in list_of_feedback:
    vs = analyser.polarity_scores(texts)
    scores.append(vs)
data = pd.DataFrame(list_of_feedback, columns= ['Feedback'])
data2 = pd.DataFrame(scores)
final_dataset= pd.concat([data,data2], axis=1)
final_dataset.head()

               Feedback    neg    neu    pos  compound
0    The prezi was cool  0.000  0.566  0.434    0.3182
1       Good job guys!!  0.000  0.365  0.635    0.5399
2         WTF was this?  0.694  0.306  0.000   -0.6739
3  I loved the examples  0.000  0.435  0.565    0.5994
4   How coll that was??  0.000  1.000  0.000    0.0000

In [14]:
import base64
import pandas as pd
from IPython.display import HTML

def create_download_link2( df, title = "Download CSV file", filename = "data.csv"):
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

#df = twittersentiment.DataFrame(data = [[1,2],[3,4]], columns=['Col 1', 'Col 2'])
create_download_link2(final_dataset)